<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>0-3岁</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>3-6岁</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>6-12岁</string>
		<key>type</key>
		<integer>2</integer>
	</dict>
</array>
</plist>
